<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='awesomplete.css') }}">
    
    <script src="{{ url_for('static', filename='awesomplete.js') }}" defer></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>  <!-- Corrected path -->
    <title>CineGuessr</title>
</head>
<body>
    <h1 id="heading"> CineGuessr </h1>   
    <a href="/templates/custom.html">Custom Game</a>
    <div id="game-container">
        
        <img id="movie-image" 
        src="{{ url_for('static', filename='imageuploads/blank.jpg') }}"
         alt="Movie Image">
        <div id="button-container">
            <!-- Numbered buttons, initially locked -->
            <button class="image-button" data-image="1">1</button>
            <button class="image-button" data-image="2" disabled>2</button>
            <button class="image-button" data-image="3" disabled>3</button>
            <button class="image-button" data-image="4" disabled>4</button>
            <button class="image-button" data-image="5" disabled>5</button>
        </div>
        <input id="guess-input" class="awesomplete" data-list="{{ movie_names }}" type="text" placeholder="Guess the movie...">
        <button id="submit-guess">Submit</button>
        <div id="past-attempts"></div>
    </div>
</body>
</html>
